 .footer{
    background-color: var(--color-cuatro);
}

.footer .info-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .reservas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .footer-container{
    display: flex;
    justify-content: center;
}

.suscribirse .btn{
    border-radius: .25rem;
    background-color: var(--color-uno);
} 


/* MD */
@media(min-width: 768px){
    
}

/* LG */
@media(min-width: 1024px){
    
}

/* XL */
@media(min-width: 1200px){
    
}