*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{ 
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    --color-uno: #0D4A7B;
    --color-dos: #197C3E;
    --color-tres: #C6C6C6;
    --color-tres-hover: #9F9F9F;
    --color-cuatro: #222222;
    --fuente-encabezados: 'Quicksand', sans-serif;
    min-height: 100vh;
    margin: 0;
}

/* Navmenu */
.nav-menu{
    background: transparent;
    --primary-color: var(--color-uno);
    --color-tres: #C6C6C6;
    --color-cuatro: #222222;
}

.nav-menu .nav-row:first-of-type{
    justify-content: center;
}

.nav-menu > .sidebar-button{
    color: var(--color-uno);
}

.sidebar{
    background: var(--color-tres);
}

.sidebar.opened{
    box-shadow: 0 0 19px var(--color-tres);
}

.sidebar .sidebar-header{
    border: none;
}

.sidebar .sidebar-content .sidebar-menu li{
    text-transform: uppercase;
    font-weight: 800;
}

.sidebar .sidebar-content .sidebar-menu .nav-link{
    color: var(--color-uno);
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /* Navmenu */
    .nav-menu .nav-title{
        flex-basis: 40%;
    }
}

/* XL */
@media(min-width: 1200px){
    /**/
}