.container-fluid.p-3{
    background: #ecedee;
    min-height: 0;
    padding: 0 !important;
}

.jumbotron{
    border: none;
    height: 75vh;
}

.volverBtn{
    background-color: var(--color-uno);
    padding: 1rem;
    color: #fff;
    border-radius: .4rem;
}

.gracias-div h2{
    font-size: 2rem;
}

.gracias-div p{
    font-size: 1.2rem;
}