.invalid-tooltip{
    --primary-color: var(--color-cuatro);
}

.file-button{
    --primary-color: var(--color-uno);
    --shadow-color: transparent;
    border-radius: 0;
    font-size: .8rem;
}

.crear .form-validate .input-name{
    flex-basis: 30%;
    color: var(--color-cuatro);
    font-size: .8rem;
    text-transform: uppercase;
}

.crear .form-validate .form-control{
    height: 2.5rem;
    border: 1px solid var(--color-cuatro);
    background: transparent;
}

.form-submit{
    background: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: .5rem;
    text-transform: uppercase;
}