/* body bg

linear-gradient(to top, #efefef 0%, #f5f8f9b5 75%, #e7e8e9 100%) */

.container-fluid{
    padding: 0;
}

.banner-div{
    height: 75vh;
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 1;
}

/* slider */

.carousel{
    position: absolute;
    top: 0; 
    height: 75vh;
}

.carousel img{
    height: 75vh;
    object-fit: cover
}

.slider-heading, .slider-text{
    position: relative;
    bottom: 15rem;
}

.carousel .redirigirBtn{
   z-index: 999;
   position: absolute;
   top: 60%;
}

.carousel-control-prev{
    transform: translateX(-100%);
    transition: 500ms;
    z-index: 999;
}

.carousel-control-next{
    transform: translateX(100%);
    transition: 500ms;
    z-index: 999;
}

.carousel:hover .indicators{
    transform: none;
} 

.fa-facebook:before{
    font-size: 2rem;
    cursor: pointer;
    color: #4C6EF5 !important;
    color: var(--color-cuatro);
    z-index: 999;
    padding: .3rem;
    padding-left: 0.6rem;
}

.fa-instagram:before{
    font-size: 2rem;
    cursor: pointer;
    color: #F783AC !important;
    color: var(--color-cuatro);
    z-index: 999;
    padding: .45rem;
    padding-left: 0.7rem;
}

.redes-sociales{
    transform: translateY(-50%);
    top: 48%;
    left: 0;
    width: 50px;
    height: 100px;
    flex-wrap: wrap;
    background-color: #F8F9FA;
    z-index: 2;
    border-radius: .25rem;
}

.carousel-inner{
    background-color: #000;
    z-index: 999;
    height: 75vh;
}

/* informacion-inicial */

.informacion-inicial .div-informacion-inicial .mini-encabezado{
    font-family: var(--fuente-encabezados);
    font-size: 1rem;
}

/* presentacion */

.presentacion-div .card{
    border: none;
}

.presentacion-div .card-title{
    color: var(--color-uno);
}

.presentacion-div .card-body{
    width: 80%;
    background-color: #fff;
    position: relative;
    bottom: 3rem;
    margin: auto;
}

/* separador con iconos */

.separador-iconos .fa-ship{
    font-size: 3rem;
    /* color: #495057; */
    color: var(--color-tres-hover);
}

.icon-text{
    /* color: #514040; */
    color: var(--color-uno);
    font-size: 1.15rem;
}

/* formulario */

.form-control{
    border: 1px solid #ced4da;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid var(--color-uno);
}

.form-group label{
    color: var(--color-uno);
}

.form-group .enviar-contacto{
    background-color: var(--color-cuatro);
}

#previous-button, #next-button, #close-button{
    outline: none !important;
}
    


/* MD */

@media(min-width: 768px){
    
    /* slider */

    .banner-div{
        height: 45vh;
    }
    
    .carousel{
        height: 45vh;
    }
    
    .carousel-inner{
        /* background-color: #000; */
        z-index: 999;
        height: 45vh;
    }

    .carousel img{
        height: 45vh;
    }

    .slider-heading, .slider-text{
        position: relative;
        bottom: 8rem;
    }
    
    .carousel .redirigirBtn{
       z-index: 999;
       position: absolute;
       top: 60%;
    }

    .redirigirBtn:focus{
        box-shadow: none !important;
    }
   
    
    /* presentacion */
    
    .presentacion-div .card-body{
        width: 70%;
    }
    
    /* separador con iconos */
    
    .separador-iconos .fa-ship{
        font-size: 3rem;
        /* color: #495057; */
        color: var(--color-tres-hover);
    }
    
    .icon-text{
        /* color: #514040; */
        color: var(--color-uno);
        font-size: 1.15rem;
    }
}

/* LG */
@media(min-width: 1024px){

    /* slider */

    .banner-div{
        height: 45vh;
    }
    
    .carousel{
        height: 45vh;
    }
    
    .carousel-inner{
        /* background-color: #000; */
        z-index: 999;
        height: 45vh;
    }

    .carousel img{
        height: 45vh;
    }

    .slider-heading, .slider-text{
        position: relative;
        bottom: 8rem;
        width: 100%;
    }
    
    .carousel .redirigirBtn{
       z-index: 999;
       position: absolute;
       top: 60%;
    }

    .redirigirBtn:focus{
        box-shadow: none !important;
    }
   
       
    /* presentacion */

    .presentacion-div .card-title{
        color: var(--color-uno);
    }

    .presentacion-div .card-body{
        width: 80%;
        background-color: #fff;
        position: absolute;
        right: 0;
        height: 15rem;
        bottom: 3rem;
        border: 1px solid #ccc;
    }

    .presentacion-div .card:nth-child(2) img{
        left: 50%;
    }

    .presentacion-div .card:first-child .card-body{
        transform: translateX(-40px); 
        top: 3.2rem;
    }
   
    .presentacion-div .card-2-body{
        right: 50%;
        left: 0;
        transform: translateX(40px);  
        top: 3.2rem;
    }
    
    
    /* separador con iconos */
    
    .separador-iconos .fa-ship{
        font-size: 3rem;
        color: var(--color-tres-hover);
    }
    
    .icon-text{
        color: var(--color-uno);
        font-size: 1.15rem;
    }

    /* .banner-div{
        height: calc(100vh - 7.9rem);
    } */

    /* .black-background{
        height: calc(100vh - 7.9rem);
        filter: opacity(0.1);
    }     */
}

/* XL */
@media(min-width: 1200px){

    /* slider */

    .banner-div{
        height: 75vh;
    }
    
    .carousel{
        height: 75vh;
    }
    
    .carousel-inner{
        height: 75vh;
    }

    .carousel img{
        height: 75vh;
    }
    

    .slider-heading, .slider-text{
        bottom: 16rem;
        font-size: 1.2rem;
    }
    
    .carousel .redirigirBtn{
       top: 60%;
    }
   
       
    /* presentacion */

    .presentacion-div .card-body{
        width: 80%;
        background-color: #fff;
        position: absolute;
        right: 0;
        height: 15rem;
        bottom: 3rem;
        border: 1px solid #ccc;
    }

    .presentacion-div .card:nth-child(2) img{
        left: 50%;
    }

    .presentacion-div .card:first-child .card-body{
        transform: translateX(-40px); 
        top: 3.2rem;
    }
   
    .presentacion-div .card-2-body{
        right: 50%;
        left: 0;
        transform: translateX(40px);  
        top: 3.2rem;
    }
    
    
    /* separador con iconos */
    
    .separador-iconos .fa-ship{
        font-size: 3rem;
        color: var(--color-tres-hover);
    }
    
    .icon-text{
        color: var(--color-uno);
        font-size: 1.15rem;
    }

      
}