.container-fluid{
    padding: 0;
}

.banner-div{
    height: 40vh;
    width: 100%;
    padding: 0;
    position: relative;
}

/* slider */

.carousel{
    position: absolute;
    top: 0; 
    height: 40vh;
}

.carousel img{
    height: 40vh;
}

.slider-heading, .slider-text{
    position: relative;
    bottom: 5rem;
}

.carousel .redirigirBtn{
   z-index: 999;
   position: absolute;
   top: 65%;
}

.carousel-control-prev{
    transform: translateX(-100%);
    transition: 500ms;
    z-index: 999;
}

.carousel-control-next{
    transform: translateX(100%);
    transition: 500ms;
    z-index: 999;
}

.carousel:hover .indicators{
    transform: none;
} 

.fa-facebook:before{
    font-size: 2rem;
    cursor: pointer;
    /* color: #4C6EF5; */
    color: #495057;
    position: absolute;
    right: 0;
    bottom: 7.8rem;
    z-index: 999;
    background-color: #F8F9FA;
    padding: .3rem;
    padding-left: 0.6rem;
}

.fa-instagram:before{
    font-size: 2rem;
    cursor: pointer;
    /* color: #F783AC; */
    color: #495057;
    position: absolute;
    right: 0;
    bottom: 5rem;
    z-index: 999;
    background-color: #F8F9FA;
    padding: .45rem;
    padding-left: 0.7rem;
}

.carousel-inner{
    background-color: #000;
    z-index: 999;
    height: 40vh;
}

/* informacion-inicial */

.informacion-inicial .div-informacion-inicial .mini-encabezado{
    font-family: var(--fuente-encabezados);
    font-size: 1rem;
}

/* presentacion */

.presentacion-div .card{
    border: none;
}

.presentacion-div .card-title{
    color: var(--primary-color);
}

.presentacion-div .card-body{
    width: 80%;
    background-color: #fff;
    position: relative;
    bottom: 3rem;
    margin: auto;
}

/* separador con iconos */

.separador-iconos .fa-ship{
    font-size: 3rem;
    /* color: #495057; */
    color: var(--tertiary-color-hover);
}

.icon-text{
    /* color: #514040; */
    color: var(--primary-color);
    font-size: 1.15rem;
}

/* formulario */

.form-control{
    border: 1px solid #ced4da;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid var(--primary-color);
}

.form-group label{
    color: var(--primary-color);
}

.form-group .enviar-contacto{
    background-color: var(--fourthiary-color);
}


/* MD */

@media(min-width: 768px){

}

/* LG */
@media(min-width: 1024px){
    .banner-div{
        height: calc(100vh - 7.9rem);
    }

    .black-background{
        height: calc(100vh - 7.9rem);
        filter: opacity(0.1);
    }    
}

/* XL */
@media(min-width: 1200px){
    
}